// http://ionicframework.com/docs/theming/

.content{
  background-color: color($colors, background) !important;
}

.rating{
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item{
  padding-right: 16px;
}

.center{
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popover-ios .popover-content{
  padding: 5px;
}

.form_box{
  border: 10px red;
}
