page-registro {
  .slides{
    background-color: rgb(255, 255, 255);
  }
  .ios, .md {

      page-home {

          p {
              font-size: 0.8em;
              color: #d2d2d2;
          }

          .swiper-slide {
              display: block;
          }

          ion-label, .select-text {
              margin-left: 10px;
          }

          ion-input, ion-select, ion-textarea {
              background-color: #f2f2f2;
              padding: 5px 10px;
          }

          .invalid {
              border: 1px solid #ea6153;
          }

      }

  }
  ion-slides{
    height: auto;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
}
