page-registro {
  ion-slides{
    height: auto;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
  ion-list{
    width: 100%;
  }
  .help-form{
    width: 100%;
    height: auto;
  }
  .help-form p{
    font-size: 1.2rem;
    color: color($colors, danger);
  }
  ion-input{
    border-width: 1;
  }

  ion-icon {
      margin-top: 25%;
      font-size:7em;
  }

  h2 {
      margin-top:10% !important;
      font-weight:bold;
      font-size:1.1em;
  }

  p {
      width:80%;
      display:block;
      margin: 0 auto;
  }
}
